body{background-color: #d8a380  ; font-family:franklin}

.Palabra{display:flex; flex-direction:row-reverse;
         flex-wrap:wrap;
        justify-content:space-between;}
.Palabra div { width: 400px;}